* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: Arial, sans-serif;
  background-color: #333333;
  color: #ffffff;
}

.container {
  width: 300px;
  margin: 0 auto;
  padding: 20px;
  background-color: #222222;
  border-radius: 10px;
}

.main-logo {
  display: flex;
  justify-content: center;
}
.main-logo img {
  width: 184px;
}
.line {
  margin-top: 12px;
  width: 100%;
  height: 3px;
  background: linear-gradient(to right, orange, #c54016);
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.4);
  transform-origin: left center;
}

.body-section {
  padding-top: 24px;
  padding-bottom: 12px;
}

.warning-icon {
  width: 16px;
  margin-right: 12px;
}
.login-btn {
  background-color: #f05d23;
    color: #fff;
    padding: 12px 20px;
    font-size: 14px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}
.warning-text {
  font-size: 16px;
}
.welcome-msg {
  font-size: 18px;
}
.welcome-subtext {
  font-size: 14px;
  color: green;
  margin-left: 8px;
}
.green-dot {
  background: green;
  border-radius: 50%;
  width: 6px;
  height: 6px;
}
.form {
  margin-top: 16px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.input {
  width: 80%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  background-color: #2B2A3A;
  color: white;
}
.input:focus {
  outline: none;
  border: 1px solid #f05d23;
  box-shadow: 0 0 5px 2px #f05d23;
}
.form-submsg {
  margin-top: 12px
}
.msg {
  font-size: 12px;
  color: white;
  margin-top: 4px;
}
.form-submsg-link {
  color: #f05d23;
  cursor: pointer;
}
.error-text {
  color: red;
  font-size: 12px;
}

.log-out-btn {
  width: 29px;
  position: absolute;
  top: 18px;
  right: 9px;
  cursor: pointer;
}

.error-text-container img {
  width: 16px;
}

.separator {
  width: 80%;
  height: 1px;
  background-color: #2d2d2d;
  margin: 15px auto;
}
.badge-wrapper {
  display: flex;
  justify-content: space-around;
  margin-top: 20px;
}

.badge-container {
  display: flex;
  align-items: center;
  padding-right: 10px;
  border: 2px solid #000;
  border-radius: 5px;
  background-color: #fff;
  background: green;
  overflow: hidden;
  min-width: 40%;
  
}

.badge-container .icon {
   font-size: 24px;
    margin-right: 10px;
    width: 30px;
    position: relative;
    overflow: hidden;
}

.badge-container .text {
  display: block;
  font-size: 16px;
  text-align: center;
}

.reminder-section {
  width: 100%;

}
.reminder-list {
  padding: 0 15px;
  margin-top: 18px;
}

.reminder-header {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 10px;
}
.reminder-text {
  margin-left: 12px;
  font-size: 16px;
}
.reminder-item {
  margin-bottom: 8px;
  display: block;
  font-size: 14px;
  color: white;
  text-decoration: none;
  cursor: pointer;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.reminder-item:hover {
  color: gray;
  text-decoration: underline;
}
.silent-mode-section.disabled {
  opacity: 0.5;
  pointer-events: none;
}

.section {
  padding: 12px 0;
  border-radius: 10px;
  background: #222222;
  box-shadow:  7px 7px 8px #0f0f0f,
               -7px -7px 8px #353535;
}

.dashboard-section{
 /* margin-top: 12px; */
 margin-bottom: 16px;
 margin-bottom: 16px;
    display: flex;
    justify-content: center;
}
.dashboard-section .dashboard-btn {
  background-color: #f05d23;
    color: #fff;
    padding: 10px 16px;
    font-size: 12px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}
.dashboard-section .dashboard-btn:hover {
  opacity: 0.9;
}

/*------------toggle switch starts------------*/
.toggle {
  cursor: pointer;
  display: inline-block;
}

.toggle-switch {
  display: inline-block;
  background: #ccc;
  border-radius: 16px;
  width: 39px;
  height: 20px;
  position: relative;
  vertical-align: middle;
  transition: background 0.25s;
}
.toggle-switch:before, .toggle-switch:after {
  content: "";
}
.toggle-switch:before {
  display: block;
  background: linear-gradient(to bottom, #fff 0%, #eee 100%);
  border-radius: 50%;
  box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.25);
  width: 15px;
  height: 15px;
  position: absolute;
  top: 2px;
  left: 4px;
  transition: left 0.25s;
}
.toggle:hover .toggle-switch:before {
  background: linear-gradient(to bottom, #fff 0%, #fff 100%);
  box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.5);
}
.toggle-checkbox:checked + .toggle-switch {
  background: #56c080;
}
.toggle-checkbox:checked + .toggle-switch:before {
  left: 20px;
}

.toggle-checkbox {
  position: absolute;
  visibility: hidden;
}

.toggle-label {
  margin-left: 5px;
  position: relative;
  top: 2px;
}

/*------------toggle switch ends------------*/

/*----------------Loader starts*/

.loader,
.loader:after {
  border-radius: 50%;
  width: 16px;
  height: 16px;
}
.loader:after.small {
  width: 12px;
  height: 12px;
}
.loader {
  font-size: 10px;
  text-indent: -9999em;
  border-top: 2px solid rgba(255, 255, 255, 0.2);
  border-right: 2px solid rgba(255, 255, 255, 0.2);
  border-bottom: 2px solid rgba(255, 255, 255, 0.2);
  border-left: 2px solid #ffffff;
  -webkit-transform: translateZ(0);
  -ms-transform: translateZ(0);
  transform: translateZ(0);
  -webkit-animation: load8 1.1s infinite linear;
  animation: load8 1.1s infinite linear;
}
@-webkit-keyframes load8 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@keyframes load8 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
/*----------------Loader ends----------------------------*/

.question-icon {
  width: 16px;
  height: 16px;
  margin-left: 8px;
}

.error-text-container {
  padding: 10px 16px;
  background: #FFF5F5;
  border-radius: 4px;
}