* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: Arial, sans-serif;
  background-color: #333333;
  color: #ffffff;
}

.container {
  width: 300px;
  margin: 0 auto;
  padding: 20px;
  background-color: #222222;
  border-radius: 10px;
}

.main-logo {
  display: flex;
  justify-content: center;
}
.main-logo img {
  width: 184px;
}
.line {
  margin-top: 12px;
  width: 100%;
  height: 3px;
  background: linear-gradient(to right, orange, #c54016);
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.4);
  transform-origin: left center;
}

.body-section {
  padding-top: 24px;
  padding-bottom: 12px;
}

.warning-icon {
  width: 16px;
  margin-right: 12px;
}
.login-btn {
  background-color: #f05d23;
    color: #fff;
    padding: 12px 20px;
    font-size: 14px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}
.warning-text {
  font-size: 16px;
}
.welcome-msg {
  font-size: 18px;
}
.welcome-subtext {
  font-size: 14px;
  color: green;
  margin-left: 8px;
}
.green-dot {
  background: green;
  border-radius: 50%;
  width: 6px;
  height: 6px;
}
.form {
  margin-top: 16px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.input {
  width: 80%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  background-color: #2B2A3A;
  color: white;
}
.input:focus {
  outline: none;
  border: 1px solid #f05d23;
  box-shadow: 0 0 5px 2px #f05d23;
}
.form-submsg {
  margin-top: 12px
}
.msg {
  font-size: 12px;
  color: white;
  margin-top: 4px;
}
.form-submsg-link {
  color: #f05d23;
  cursor: pointer;
}
.error-text {
  color: red;
  font-size: 12px;
}

.log-out-btn {
  width: 29px;
  position: absolute;
  top: 18px;
  right: 9px;
  cursor: pointer;
}

.error-text-container img {
  width: 16px;
}

.separator {
  width: 80%;
  height: 1px;
  background-color: #2d2d2d;
  margin: 15px auto;
}
.badge-wrapper {
  display: flex;
  justify-content: space-around;
  margin-top: 20px;
}
.badge-container {
  display: flex;
  align-items: center;
  padding-right: 10px;
  border: 2px solid #000;
  border-radius: 5px;
  background-color: #fff;
  background: green;
  overflow: hidden;
  min-width: 40%;
  
}

.badge-container .icon {
   font-size: 24px;
    margin-right: 10px;
    width: 30px;
    position: relative;
    overflow: hidden;
}

.badge-container .text {
  display: block;
  font-size: 16px;
  text-align: center;
}
