.operations-row {
    margin-top: 24px;
    padding: 12px 46px;
    padding-bottom: 27px;
    display: flex;
    justify-content: space-between;
    .sort-filter-col {
        display: flex;
        gap: 32px;
    }
}