.main-body-container {
    display: block;
    height: calc(100vh - 64px);
    max-height: calc(100vh - 64px);
    overflow: hidden;
    background: #212121;
    overflow-x: hidden;
}
.card-wrapper {
    overflow-y: auto;
    height: calc(100% - 108px);
    padding: 0 42px 20px 42px;
}
/* webkit-based browsers */
::-webkit-scrollbar {
    width: 8px;
  }
  
  ::-webkit-scrollbar-thumb {
    background-color: #a8a8a8;
    border-radius: 10px;
  }
  
  /* Firefox */
  ::-moz-scrollbar {
    width: 8px;
  }
  
  ::-moz-scrollbar-thumb {
    background-color: #a8a8a8;
    border-radius: 10px;
  }