.welcome-body-container {
    width: 100%;
    height:calc(100vh - 65px);
    background-color: #000000;
    .hero-image-wrapper {
        padding: 32px;
    }
}

.vertical-separator {
    width: 2px;
    background-color: #9e9e9e;
}

.body-container {
    color: white;
    font-family: Arial, sans-serif;
    gap: 27px;
    width: 80%;
    margin: 0 auto;
    .left-container {
        width: 60%;
        .subtext {
            font-size: 30px;
            font-weight: 700;
            line-height: 1.25;
        }
        .app-info {
            margin-top: 32px;
            font-size: 18px;
            line-height: 1.5;
        }
        .download-section {
            position: relative;
            margin-top: 64px;
            display: flex;
            justify-content: center;
            gap: 30px;
        }
    }

}

.illustration-container {
    img {
        width: 80%
    }
}