.log-out-btn {
    cursor: pointer;
    width: 48px;
    height: 48px;
    background-image: url('../../assets/images/log-out.svg');
    &:hover {
        background-image: url('../../assets/images/log-out.svg');
        background-image: url('../../assets/images/log-out-hover.svg');
    }
}