.cr-display-flex {
    display: flex;
    &.cr-space-between {
        justify-content: space-between;
    }
    &.cr-space-around {
        justify-content: space-around;
    }
    &.cr-vertical-center {
        align-items: center;
    }
    &.cr-horizontal-center {
        justify-content: center;
    }
}

.cr-margin-left-24 {
    margin-left: 24px;
}
.cr-margin-top-12 {
    margin-top: 12px;
}
.cr-margin-top-24 {
    margin-top: 24px;
}

.backdrop {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(9,30,66,0.72);
    z-index: 1100;
    overflow: hidden;
}