.date-component-wrapper {
    display: flex;
    align-items: center;
    // border: 2px solid black;
    padding: 1px 4px;
    border-radius: 6px;
    background-color: rgb(235, 224, 224);
    background-color: #FF6F00;
    .calendar-icon {
        img {
            margin-right: 0;
        }
    }
    .separator {
        height: 22px;
        border-right: 2px solid white;
        margin: 0 4px;
    }
    .date-wrapper {
        display: flex;
        padding: 2px;
        .date-block {
            background-color: #FF9100;
            color: white;
            font-weight: bold;
            padding: 2px;
            border-radius: 4px;
            margin: 0 1px;
        }
    }
}

.empty-screen {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    .empty-screen-icon {
        img {
            width: 150px;
            height: 150px;
        }
    }
    .empty-screen-text {
        margin-top: 16px;
        font-size: 40px;
        font-weight: bold;
        color: #FF6F00;
    }
}