.hero-container {
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;

    .hero-text {
        color: #FFF;
        line-height: 28px;
        font-size: 18px;
        font-family: Gilroy-Regular;
        margin-top: 24px
    }
    .illustration-container {
        width: 35%;
    }
}
.supported-platforms {
    margin-top: 32px;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    .heading {
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        letter-spacing: 5px;
        color: gray;
    }
    .separator {
        width: 30%;
        margin: 12px 0;
        border-bottom: 2px solid gray;
    }
    .platform-container {
        display: flex;
        align-items: center;
        justify-content: center;
    }
}
